name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: zulu

      # publish to local maven repo but skip signing because this fails without a key
      - name: Build and install
        run: ./gradlew publishToMavenLocal -x signPluginMavenPublication -x signDownloadPluginPluginMarkerMavenPublication

      - name: Run unit tests
        run: ./gradlew test --console=plain
        env:
          CI: "true"

      - name: Create test reports
        run: ./gradlew jacocoTestReport

      - name: Upload code coverage report
        run: bash <(curl -s https://codecov.io/bash)

      - name: Upload junit test reports on failure
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-results
          path: build/reports/tests

  integrationTests:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        version: ["5", "6\\.[0-5]", "6\\.[6-9]", "7"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: zulu

      # publish to local maven repo but skip signing because this fails without a key
      - name: Build and install
        run: ./gradlew publishToMavenLocal -x signPluginMavenPublication -x signDownloadPluginPluginMarkerMavenPublication

      - name: Run integration tests
        run: ./gradlew integrationTest -PintegrationTestIncludes="^${{ matrix.version }}\\."
