name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up JDK 8
        uses: actions/setup-java@v2.5.0
        with:
          java-version: 8
          distribution: zulu
      - name: Build and install
        run: ./gradlew install
      - name: Run unit tests
        run: ./gradlew test --console=plain
        env:
          CI: "true"
      - name: Create test reports
        run: ./gradlew jacocoTestReport
      - name: Upload code coverage report
        run: bash <(curl -s https://codecov.io/bash)

  integrationTests:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        version: [5, 6, 7]

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up JDK 8
        uses: actions/setup-java@v2.5.0
        with:
          java-version: 8
          distribution: zulu
      - name: Build and install
        run: ./gradlew install
      - name: Run integration tests
        run: ./gradlew integrationTest -PintegrationTestIncludes="^${{ matrix.version }}\\."
